.ctn-button {
    text-align: right;
    padding-top: 0.4rem;
}

button {
    background-color: beige;
    border: none;
    justify-items: right;
    font-size: 1.5rem;
}

button:hover {
    background-color: rgb(253, 236, 236);
    color: black;
    border: thin solid green;
    cursor: pointer;
}