.ctn-button {
    text-align: right;
    padding-top: 0.4rem;
}

button {
    background-color: black;
    border: none;
    justify-items: right;
    font-size: 1.5rem;
}

button:hover {
    background-color: brown;
    color: black;
    border: thin solid rgb(23, 146, 85);
    cursor: pointer;
}